<!-- 
<div class="container">
  <div class="nav-items">
    <!-- <button class="btn btn-light mx-5" (click)="toggleSidebar()"><i class="bi bi-list"></i></button>
    <div class="nav-item">
      <span>dashboard</span>
    </div>
    <div class="nav-item">
      <span>home loan</span>
    </div>
    <div class="nav-item">
      <span>home registration</span>
    </div>
    <div class="nav-item">
      <span>home interior</span>
    </div>
    <div class="nav-item">
      <span>home rent</span>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <!-- <div class="row flex-nowrap"> -->
    <!--coloumn one side bar-->

    <div class=" text-dark" id="navmenu">
      <div
        class="d-flex flex-column  align-items-center align-items-sm-start px-3 pt-2 text-dark"
      >
        <a
          href="#"
          class="d-flex align-items-center justify-content-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">
            <h3><b>Menu</b></h3>
          </span>
        </a>

        <ul
          class="nav nav-pills flex-column mb-0 mb-sm-auto align-items-center align-items-sm-start"
          id="#menu"
        >
          <li class="nav-item ">
            <a routerLink="/user" class="nav-link w-100 align-middle text-black px-0">
              <i class="fs-4 bi bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/loan"
              data-bs-toggle="collapse"
              class="nav-link text-black px-0 align-middle"
            >
              <i class="fs-4 w-100 bi bi-speedometer2"></i>
              <span class="ms-1 d-none d-sm-inline">HomeLoans</span>
            </a>
          </li>
          <li class="w-100">
            <a routerLink="/rent" class="nav-link px-0 align-middle text-black">
              <i class="bi bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">HomeRentals</span>
            </a>
          </li>
          <li class="w-100">
            <a
              routerLink="/interior"
              data-bs-toggle="collapse"
              class="nav-link text-black px-0 align-middle"
            >
              <i class="fs-4 w-100 bi bi-grid"></i>
              <span class="ms-1 d-none d-sm-inline">HomeInterior</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  <!-- </div> -->
</div>
