
<!-- 
    <div class="header" [ngClass]="{ 'hidden': isSidebarHidden }" >
      
    <div class="logo">Visionary Spaces</div>
    <div class="user">
        <div class="username">dfghjkl</div>
        <div class="user-image">bb</div>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu" data-bs-dismiss="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> -->
<header>
    <nav class=" navbar  text-dark fixed-top" style="background-color: rgba(248,209,137,255);">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu" data-bs-dismiss="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="logo me-auto ">Visionary Spaces</div>
           
            <div class="user">
                <div class="username">{{autheservice.username}}</div>
                <div class="user-image">bb</div>
                 
            </div>
        </div>
    </nav>
</header>