
<!-- 
    <div class="header" [ngClass]="{ 'hidden': isSidebarHidden }" >
      
    <div class="logo">Visionary Spaces</div>
    <div class="user">
        <div class="username">dfghjkl</div>
        <div class="user-image">bb</div>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu" data-bs-dismiss="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> -->
<header>
    <nav class="navbar  bg-light text-dark fixed-top">
        <div class="logo ">Visionary Spaces</div>
        <div class="user">
            <div class="username">dfghjkl</div>
            <div class="user-image">bb</div>
              <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu" data-bs-dismiss="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>