<!-- 
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 h-100  text-center text-sm-start text-center text-sm-start">

    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class=" my-4 ">Become a <span class="text-warning">Web Devloper</span></h1>
                <p>We focus on teaching our students the fundamentals of the latest
                    and greatest technologies to prepare them for their frist dev role
                </p>
                <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">Start The Enrollment</button>
            </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="..//public/images/developer.png"> 


        </div>
    </div>
</section> -->

<h3>Home Loans</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">fullname</th>
        <th scope="col">occupation</th>
        <th scope="col">salary</th>
        <th scope="col">city</th>
        <th scope="col">monthlyemi</th>
        <th scope="col">tenure</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table><br>

  <h3>Home Rents</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">survey num</th>
        <th scope="col">ownername</th>
        <th scope="col">address</th>
        <th scope="col">rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>
  <br>
  <h3>Home Interior</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">address</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        
      </tr>
      
    </tbody>
  </table>
