/* .main-container{
  margin-top: 50px;
  min-height: calc(100vh-100px);
  
  display: flex;
 
  
}
.container-fluid{
  margin-top: 70px;
}*/

/* .side-nav{
    width:350px;
    min-width: 230px;
    min-height:100vh;
    background-color: #113c60;
    color:#fff;
    box-shadow: 5px 5px 5px #939393;
  
   
  } */
  /* .hidden{
    transform: translateX(-350px);
  }  */
 
  /* .main{
    @media screen and (max-width:300px) {
      width: 100%;
      max-width: 100%;
  }} */
  
   .container-fluid{
    margin-top: 70px;
    height: 100vh;
   }
   .main{
    width: 85%;
    margin-top: 10px;
    margin-left: 20px;
   
   }
    /* body::before{
    display: block;
    content: " ";
    height: 85px;
    
}


.dropdown-item:hover{
background-color: lightgrey;
}
.nav-link:hover{
    background-color: lightgrey;
}
#navmenu{

    height: 650px;
    overflow: hidden;
    
} */