<!-- <div class="container">
  <div class="header"> 
    <app-header></app-header>
    </div>
    <div class="main-container d-flex">
      
      <div class="side-nav col-lg-5">
        <button class="btn btn-light mx-5" (click)=" toggleSidenav()" ><i class="bi bi-list"></i></button>
        <app-sidenav></app-sidenav>
    </div>
    <div class="main ">
    <app-maindash></app-maindash>
    </div>
  </div>
</div> -->


  <div class="header">
   <app-header></app-header>
  </div>
  <div class="container-fluid g-0 d-flex">
  
    <div class="side-nav " style="background-color:white;">
      <app-sidenav></app-sidenav>
    </div>
  
    <div class="main  w-100 p-3 " >
        <app-maindash></app-maindash>
    </div>
  </div>