


    <!-- <table class="img">
        <thead>
            <th>homeNum</th>
            <th>ownerName</th>
            <th>address</th>
            <th>rating</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of user">
               <td>{{user.homeNum}}</td>
               <td>{{user.ownerName}}</td>
               <td><a href="{{user.address}}">{{user.address}}</a></td>
               <td>{{user.rating}}</td>
            </tr>
        </tbody>
    </table> -->

<div class="container">
    <div class="row mt-5">
        <div class=" col-md-6 col-12 g-3 ">
            <div class="card " style="width: 36rem;">
                <img src="https://www.thebalancemoney.com/thmb/SKo-HJTGmy4hz_xHxn5h7saaENM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-901505522-4eb5b61a89d84347a64a2a9156739158.jpg" height="300" class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title">FOR BUY</h5>
                  <p class="card-text description">For most buyers, finding a home is like speed dating. They see a whole bunch of candidates in a short period of time, with the hopes that one of them will rise above the rest. 
                    It’s not unusual for home buyers to look at dozens of homes before settling on one. 
                    Since they’ll be looking at many homes, and reading a ton creative real estate listing descriptions, you have less time than you might think to make an impression.</p>
                  <a href="https://www.magicbricks.com/independent-house-for-rent-in-hosur-pppfr" class="btn btn-primary">preview</a>
                </div>
              </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12 g-3 ">
            <div class="card " style="width: 36rem;">
                <img src="https://www.investopedia.com/thmb/OQxvtmsJwBCy6kVw86E-ooDRVqs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/rent_house_73089751-5bfc333346e0fb002602ddbe.jpg" height="300" class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title">FOR RENT</h5>
                  <p class="card-text description">The apartment is suitable for a couples or for a single travelers. It is very cozy and comfortable space, fully designed and furnished by me. 
                    Kitchenette includes small fridge, induction stove, microwave and all necessary cutlery to prepare and enjoy your food.
                    The bathroom consists of a shower, sink with a big front mirror and flushable toilet. Liquid soap and shower gel is included.
                    It sleeps up to 2 people. A double bed (160×200) or two single beds (80×200) are available. Sheets, blankets and linen is included.
                    It is always clean, disinfected and prepared with all amenities for the guests to enjoy their stay and to feel comfortable.</p>
                  <a href="https://th.bing.com/th/id/R.8c2220b8fb5f1592487fd7449dd6f340?rik=NYqcKWKApfpKqg&riu=http%3a%2f%2fwww.stgeorgeutah.com%2fwp-content%2fuploads%2f2016%2f02%2fDollarphotoclub_76388855.jpg&ehk=2QjgfggX5fb5Vca5HF5kTddj6rtSVwK7BA617iGD9Pg%3d&risl=&pid=ImgRaw&r=0" class="btn btn-primary">preview</a>
                </div>
              </div>
        </div>
    </div>
</div>

