/* table thead th{
    border: 2px solid black;
    background-color: cadetblue;
}

tr td{
    border: 2px solid black;
    padding: 1rem;
    background-color: blanchedalmond;
}

.img{
    background-image: url("https://th.bing.com/th/id/OIP.IJMW8JOCRXD5lUjGTCm5kwHaEo?w=256&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7");
    background-repeat: no-repeat;
    background-size: 80rem;
    object-fit: fill;
<<<<<<< HEAD
} */
.klm:hover {
    transform: scale(1.1);
  
  }

 .description {
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap;
    /* color: black;
    text-decoration: none !important; */
    }
    .card:hover{
        transform: scale(1.02);
    }

    